<?xml version="1.0"?>
<!--
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_SellerSubAccount
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="webkul" translate="label" sortOrder="10">
            <label>Webkul</label>
        </tab>
        <section id="sellersubaccount" translate="label" type="text" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Seller Sub Account Settings</label>
            <!-- Assign section to tab -->
            <tab>webkul</tab>
            <resource>Webkul_SellerSubAccount::config_sellersubaccount</resource>
            <!-- create group for fields in section -->
            <group id="general_settings" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="manage_sub_accounts" translate="label comment" sortOrder="1" type="select" showInDefault="1" showInWebsite="1">
                    <label>Allow Seller to Manage Sub-Accounts</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <!-- select permission list which is seller provide to sub seller account -->
            <group id="sub_account_permission" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Sub Account Permission</label>
                <field id="manage_sub_account_permission" translate="label comment" sortOrder="1" type="multiselect" showInDefault="1" showInWebsite="1">
                    <label>Select sub seller account permissions list</label>
                    <source_model>Webkul\SellerSubAccount\Model\SubAccount\Source\Permissions</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
            </group>
        </section>
    </system>
</config>
